.material-icons.md-48 { font-size: 48px; }
:root {
  font-size: 16px;
}
body {
  background-color: #262626;
}
.navBar {
  display: flex;
  margin: 30px 190px;
  height: 5rem;
  column-gap: 1rem;
}
.flexItem {
  flex-grow: 1;
  background-color: #14141424;
  border: 0;
  box-shadow: #161616 8px 8px;
  border-radius: 10px;
  color: #0bf5;
  transition: color .4s, text-shadow .4s;
}
.flexItem:hover{
  text-shadow: #0bf 0 0 8px;
  color: #0bf;
}
.flexItem:active{
  box-shadow: #161616 2px 2px;
  position:relative;
  top:4px;
  left:4px;
}