<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <link rel="stylesheet" href="../styles/alarm.css">
</head>
<body>
    <div class="wrapper">
        <div class="alarm"></div>
        <div class="alarm"></div>
        <div class="alarm enableAnimation">
            <p class="time text">8:00</p>
            <div class="select">
                <span>Po</span>
                <span>Ut</span>
                <span>St</span>
                <span>Št</span>
                <span>Pi</span>
                <span>So</span>
                <span>Ne</span>
            </div>
            <div class="options">
                <label class="container">
                    <input type="checkbox" class="alarmSwitch">
                    <span class="checkmark"></span>
                </label>
                <button class="pref">...</button>
                
            </div>
        </div>
        <button class="add">+</button>
    </div>
</body>
</html>