<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <link rel="stylesheet" href="../styles/alarm.css">
</head>
<body>
    <div class="wrapper">
        <div class="alarm"></div>
        <div class="alarm"></div>
        <div class="alarm">
            <p class="time">8:00</p>
        </div>
        <button class="add">+</button>
    </div>
</body>
</html>