<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <style>
        .wrapper {
            display: flex;
            flex-direction: column;
            align-content: stretch;
            align-items: stretch;
        }
        .add {
            background-color: #0bf;
            border-radius: 10px;
            width: 200px;
            height: 50px;
            margin: auto;
            text-align: center;
            color: #fff;
            font-size: 2rem;
            border: 0;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <button class="add">+</button>
    </div>
</body>
</html>