<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/default.css">
    <style>
        h1.text {
            text-shadow: #0bf 0 0 4px;
            text-align: center;
            font-size: 5rem;
            position: relative;
            top: 170px;
            /* left: 50%; */
            /* margin: 0; */
            /* transform: translate(-50%, -50%); */
        }
    </style>
</head>
<body>
    <h1 class="text">ClockApp</h1>
</body>
</html>